<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}">
    <title>관리자 페이지</title>
</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>
<div class="container mt-5">
    <h1>관리자 페이지</h1>
    <p>이 페이지는 관리자만 접근할 수 있습니다.</p>
    <div class="list-group">
        <a th:href="@{/admin/users}" class="list-group-item list-group-item-action">회원 관리</a>
        <a th:href="@{/admin/trips}" class="list-group-item list-group-item-action">여행 계획 관리</a>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
