
    .story-container {
        max-width: 800px;
        margin: 50px auto;
        padding: 0 20px;
        box-sizing: border-box;

    }
    .tags {
      display: flex;
      gap: 8px;
      margin-bottom: 12px;
      flex-wrap: wrap;
    }
    .tags span {
      font-size: 12px;
      padding: 4px 10px;
      border-radius: 20px;
      background: #f4f4f4;
    }
    .story-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
    }
   .more-btn {
       cursor: pointer;
       font-size: 18px;
       user-select: none;
       margin-right: 30px;
       text-decoration: none;
       color: #333;
   }

   .dropdown {
       position: relative;
       display: inline-block;
   }

   .dropdown-content {
       display: none;
       position: absolute;
       top: 100%;
       left: 50%;
       transform: translateX(-50%);
       min-width: 100px;
       background-color: white;
       border: 1px solid #ccc;
       border-radius: 5px;
       z-index: 1000;
   }

    .dropdown-content a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: #333;
    }

    .dropdown-content a:hover {
        background-color: #f0f0f0;
    }
    .subtitle {
      font-size: 14px;
      color: #444;
      margin-bottom: 14px;
    }
    .meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      color: #555;
      margin-bottom: 20px;
    }
    .meta .actions {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .meta button {
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 4px 10px;
      background: #fff;
      cursor: pointer;
      font-size: 12px;
      width: 75px;
    }
    .line {
        margin-bottom: 50px;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
 .image_resized img {
        max-width: 100%;
        height: auto;
        display: block;
    }

/* 출력 페이지 스토리북 css */

  /* CKEditor figure 기본 */
  #postContent figure {
    display: block;
    margin: 1em auto;
    text-align: center;
  }

  /* CKEditor가 붙이는 image_resized 지원 */
  #postContent figure.image.image_resized {
    display: inline-block;
    margin: auto;
    max-width: 100%;  /* 화면 넘어가지 않게 */
  }

  /* figure 안의 이미지 */
  #postContent figure img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  /* 유튜브 iframe도 크기 조정 */
  #postContent iframe {
    max-width: 100%;
    height: 100% !important;
    display: block;
    margin: 1em auto;
  }

  #postContent figure.media {
    height: auto;
  }

  #postContent figure.image:not([class*="image-style-align"]) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }

  /* 왼쪽 정렬 */
  #postContent .image-style-align-left {
    float: left;
    margin: 0 1em 1em 0;
  }

  /* 가운데 정렬 */
  #postContent .image-style-align-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }

  /* 오른쪽 정렬 */
  #postContent .image-style-align-right {
    float: right;
    margin: 0 0 1em 1em;
  }

  /* 체크박스 리스트 불릿 없애기 */
  #postContent ul.todo-list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
