<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-translatable>스토리북 수정</title>

  <!-- Common CSS/JS from header fragment -->
  <link rel="icon" th:href="@{/image/pabicone.png}" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/translation.js}"></script>

  <!--ckeditor css-->
  <link rel="stylesheet" th:href="@{/css/editor.css}">
  <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/46.0.1/ckeditor5.css" crossorigin>


  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <link rel="stylesheet" th:href="@{/css/modal.css}">

  <!-- tagify -->
  <!-- tagify 라이브러리 -->
  <script th:src="@{/js/tagify/tagify.min.js}"></script>
  <!-- 폴리필 (구버젼 브라우저 지원) -->
  <script th:src="@{/js/tagify/tagify.polyfills.min.js}"></script>
  <!-- tagify CSS -->
  <link th:href="@{/js/tagify/tagify.css}" rel="stylesheet" type="text/css">

  <style>
    .tagify{
      width: 100%;
      max-width: 700px;
    }

    .tags-look .tagify__dropdown__item{
      display: inline-block;
      border-radius: 3px;
      padding: .3em .5em;
      border: 1px solid #CCC;
      background: #F3F3F3;
      margin: .2em;
      font-size: .85em;
      color: black;
      transition: 0s;
    }

    .tags-look .tagify__dropdown__item--active{
      color: black;
    }

    .tags-look .tagify__dropdown__item:hover{
      background: lightyellow;
      border-color: gold;
    }
  </style>

</head>


<body>

<!-- Header -->
<div th:insert="~{fragments/header :: header}"></div>



<div class="center-div">
  <h1 style="font-size: 40px;" data-translatable>스토리북 수정</h1>
  <!-- post 글이면 post.booknum, temp 글이면 hidden으로 tempId -->
  <input type="hidden" id="booknum" th:value="${post != null} ? ${post.booknum} : ''" >
  <input type="hidden" id="tempId" th:if="${temp != null}" th:value="${temp.tempId}" >
  <input type="hidden" id="savetype" th:value="${temp != null} ? 'temp' : 'post'" >

  <div>
    <table style="border: 2px solid #333; border-collapse: separate; width: 100%; margin-bottom:30px; background: white">
      <thead>
      <tr>
        <td colspan="5">
          <input type="text" id="title" class="title-input" th:value="${temp != null} ? ${temp.title} : ${post.title}" name="title" maxlength="100" style="color: #444444; font-weight: bold;" data-translatable>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <input type="text" id="subtitle" class="subtitle-input"
                 th:value="${temp != null} ? ${temp.subtitle} : ${post.subtitle}"
                 name="subtitle"
                 maxlength="100"
                 style="color: #aaa;"
                 data-translatable-placeholder
                 th:placeholder="${#strings.isEmpty(temp?.subtitle) and #strings.isEmpty(post?.subtitle) ? '부제목을 입력하세요' : ''}">
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <input name="tags" id="tags" data-translatable-placeholder placeholder="태그 추가" th:value="${temp != null} ? ${temp.tags} : ${#strings.arrayJoin(post.tags, ',')}">
        </td>
      </tr>
      </thead>
    </table>

    <table style="width: 100%;">
      <tbody>
      <tr>
        <td colspan="5">
          <div class="main-container">
            <div class="editor-container editor-container_classic-editor" id="editor-container">
              <div class="editor-container__editor">
                <textarea id="input-contents" th:utext="${temp != null} ? ${temp.content} : ${post.content}"></textarea> <!-- contents -->
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div style="text-align:right">
      <button th:if="${temp == null}" class="saveButton btn btn-dark" type="button" data-translatable>저장</button>
      <button th:if="${temp != null}" class="tempButton btn btn-dark" type="button" data-translatable>임시저장</button>
      <button th:if="${temp != null}" class="saveButton btn btn-dark" type="button" data-translatable>저장</button>
      <br>
    </div>
  </div>
</div>

<!-- 모달창 -->
<div id="leaveModal" class="Leavemodal">
  <div class="Leavemodal-content">
    <p id="modalMessage" data-translatable>계속 작성하시겠습니까?</p>
    <div class="Leavemodal-buttons">
      <button id="yesBtn" data-translatable>예</button>
      <button id="noBtn" data-translatable>아니오</button>
    </div>
  </div>
</div>

<div id="leavesaveModal" class="Leavemodal">
  <div class="Leavemodal-content">
    <span id="closeBtn" class="close">&times;</span>
    <p id="modalsaveMessage" data-translatable>변경 사항을 저장하시겠습니까</p>
    <div class="Leavemodal-buttons">
      <button id="saveBtn" data-translatable>예</button>
      <button id="nosaveBtn" data-translatable>아니오</button>
      <button id="cancelBtn" data-translatable>취소</button>
    </div>
  </div>
</div>






<!--ckeditor js -->
<script src="https://cdn.ckeditor.com/ckeditor5/46.0.1/ckeditor5.umd.js" crossorigin></script>
<script src="https://cdn.ckbox.io/ckbox/2.6.1/ckbox.js" crossorigin></script>
<script th:src="@{/js/editor.js}"></script>

<!--modal js-->
<script th:src="@{/js/modal.js}"></script>

<script  th:inline="javascript">

  let tagify = null;

  $(document).ready(function() {
    let input = document.querySelector('input[name="tags"]');


  //init Tagify script on the above inputs
  tagify = new Tagify(input, {

  whitelist: [], // 화이트리스트 배열
  maxTags: 10, // 최대 허용 태그 갯수
  enforceWhitelist: false,
  dropdown: {
  maxItems: 20,           // 드롭다운 메뉴에서 몇개 정도 항목을 보여줄지
  classname: "tags-look", // 드롭다운 메뉴 엘리먼트 클래스 이름. 이걸로 css 선택자로 쓰면 된다.
  enabled: 0,             // 단어 몇글자 입력했을떄 추천 드롭다운 메뉴가 나타날지
  closeOnSelect: false    // 드롭다운 메뉴에서 태그 선택하면 자동으로 꺼지는지 안꺼지는지
  }
  });

  tagify.on('input', onInput);
  });


  //태그 입력란에 입력되고 있을 때
  function onInput(e){


  //입력되고 있는 문자열
  let value = e.detail.value;
  //제시 목록 초기화
  tagify.whitelist = [];
  tagify.loading(true).dropdown.hide()

  $.ajax({
  url: '/storybook/getTagifyList',
  method: 'get',
  data: {value: value},
  dataType: 'json',
  success: function(taglist) {
      tagify.whitelist = taglist;
      tagify.loading(false).dropdown.show(value);
  },
  error: function(e) {
      alert(JSON.stringify(e));
  }
  });
  }




</script>

<!-- Footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>