<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>스토리북 작성</title>

  <!--ckeditor css-->
  <link rel="stylesheet" th:href="@{/css/editor.css}">
  <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/46.0.1/ckeditor5.css" crossorigin>


  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <link rel="stylesheet" th:href="@{/css/modal.css}">



</head>


    <body>
    <div class="center-div">
      <h1 style="font-size: 40px;">스토리북 작성하기</h1>
      <a th:href="@{'/mypage'}">다른 페이지로 이동 (모달창 테스트용)</a>
      <div>
        <table style="border: 2px solid #333; border-collapse: separate; width: 100%; margin-bottom:30px">
          <thead>
          <tr>
            <td colspan="5">
              <input type="text" id="title" class="title-input" placeholder="제목을 입력해주세요" name="title" maxlength="100">
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <input type="text" id="subtitle" class="subtitle-input" placeholder="부제목을 입력해주세요" name="subtitle" maxlength="100">
            </td>
          </tr>
          </thead>
        </table>

        <table style="width: 100%;">
          <tbody>
          <tr>
            <td colspan="5">
              <div class="main-container">
                <div class="editor-container editor-container_classic-editor" id="editor-container">
                  <div class="editor-container__editor">
                    <textarea id="input-contents"></textarea> <!-- contents -->
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div style="text-align:right">
          <button class="tempButton btn btn-dark" type="submit">임시저장</button>
          <button class="saveButton btn btn-dark" type="button">저장</button>
          <br>
        </div>
      </div>
    </div>

    <!-- 모달창 -->
    <div id="leaveModal" class="Leavemodal">
      <div class="Leavemodal-content">
        <p id="modalMessage">계속 작성하시겠습니까?</p>
        <div class="Leavemodal-buttons">
          <button id="yesBtn">예</button>
          <button id="noBtn">아니오</button>
        </div>
      </div>
    </div>



<!--ckeditor js -->
<script src="https://cdn.ckeditor.com/ckeditor5/46.0.1/ckeditor5.umd.js" crossorigin></script>
<script src="https://cdn.ckeditor.com/ckeditor5/46.0.1/translations/ko.umd.js" crossorigin></script>
<script src="https://cdn.ckbox.io/ckbox/2.6.1/ckbox.js" crossorigin></script>
<script th:src="@{/js/main.js}"></script>

<!--modal js-->
<script th:src="@{/js/modal.js}"></script>

</body>
</html>
